.subHeader {
  background-color: rgb(20, 24, 34);
  border-radius: 0 0 5px 5px;
  width: 50px;
}
.subheaderbutton {
  border: 1px solid rgba(189, 41, 243, 0.0);
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.subheaderbutton:hover {
  background-color: rgba(189, 41, 243, 0.1);
  border: 1px solid var(--c2);
  transition: all 0.3s ease;
  /* change mouse cursor */
  cursor: pointer;
}

/* clicked button */

.subheaderbutton:active {
  background-color: rgb(33, 37, 41);
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.timestep {
  margin-top: 10px;
  margin-bottom: 10px;
}
.play-area{
  margin: 1em 0 1em 0;
  align-items: center;
  width: 100%;
  /* background-color: yellow; */
  display:flex;
  justify-content: space-between;
}
.main-area{
  display:flex;
}
.try{
  color: yellow;
}

.play{
  font-size: 3em;
  color:var(--c2);
}

.play-area .btn-c2, .play-area .btn-c2:active{
  
  background-color: var(--c2);
  color: white;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  transition: hover 0.3 ease-in-out;
}
.play-area .btn-c2:hover{
  background-color: rgb(157, 81, 192);
  color: white;
}
.flexbox{
  display: flex;
}
.colored{
  background-color: var(--c5);
  padding:10%;
  border-radius: 5% 5% 5% 5%;
  width: 100%;
}