.css-1qbllvt-MuiSvgIcon-root{
  color: var(--c2);  
}
.css-1rgzzct-MuiSvgIcon-root{
  color: var(--c2);
}

$theme-colors: (
  "primary": #786fa6,
  "secondary": #596275,
  "danger": #c44569,
  "info": #f5cd79,
  "light": #f9f9f9,
);

@import "~bootstrap/scss/bootstrap.scss";
